{% extends "base.html" %}

{% block content %}
<h1> Edit Profile </h1>

<div class="form">
    <form method="POST"  class="form-element" enctype= "multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="">
            <label for="{{field.id_for_label}}" class="">{{ field.label }}{{ field }}</label>
        </div>
        {% endfor %}
        <div>
            <button class="button is-success" type="submit">Update Profile</button>
        </div>
    </form>

{% endblock %}