{% extends "base.html" %}

{% block content %}
<h1>Flying Squirrel Feed</h1>

<div>
    <h3><a href="{% url 'add_snippet' pk=user.pk %}">Add New Snippet</a></h3>
</div>

<div>
    {% for snippet in snippets %}
    <div class="card">
        <div class="card-content">
            <p class="title">
                {{ snippet.title }}
            </p>
            <p class="subtitle">
            {{ snippet.code }}
            </p>
        </div>
        <footer class="card-footer">
            <p class="card-footer-item">
            <span>
                <a href="#">Copy Snippet</a>
            </span>
            </p>
            {% if request.user.pk == user.pk %}
                <p class="card-footer-item">
                    <span>
                        <a href="#">Edit Snippet</a>
                    </span>
                </p>
            {% endif %}
            
        </footer>
    </div>
    {% endfor %}
</div>
{% endblock %}