{% extends "base.html" %}
{% load static %}
{% block javascript %}
{% endblock javascript%}
{% block content %}

<header class="header">
    <h1>Public Snippet Feed</h1>
</header>
</br>
</br>
<form action="{% url 'snippet_search' %}" method="GET">
    <input type="text" name="query" />
    <button type="submit">Search snippets</button>
</form>
</br>
</br>
<div class="snippets-box">
    <div>
        <h3><a href="{% url 'add_snippet' pk=user.pk %}">Add New Snippet</a></h3>
    </div>
    <div>
        {% for snippet in snippets reversed %}
        <div class="card">
            <div class="card-content">
                <p class="created_by">
                    <a href="{% url 'user_profile' pk=snippet.created_by.pk %}">{{snippet.created_by}}</a>
                </p>
                <div id="snippet">
                <p class="title">
                    {{ snippet.title }}
                </p>
                <p class="">
                <pre><code>{{ snippet.code }}</code></pre>
                </p>
                <p class="language">
                    {{ snippet.language }}
                </p>
                </div>
            </div>
            <footer class="card-footer">
                {% if request.user.pk != snippet.created_by.pk %}
                <p class="card-footer-item">
                    <a href="{% url 'copy_snippet' pk=snippet.pk %}"><button id="{{ snippet.pk }}" class="copy_button button btn" data-clipboard-action="copy" data-clipboard-text="{{ snippet.code }}" data-id="{{ snippet.pk }}">Copy Snippet</button></a>
                </p>
                {% endif %}
                {% if request.user.pk == snippet.created_by.pk %}
                    <p class="card-footer-item">
                        <span>
                            <a href="{% url 'edit_snippet' pk=snippet.pk %}">Edit Snippet</a>
                        </span>
                    </p>
                {% endif %}
                
            </footer>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}