{% extends "base.html" %}
{% load static %}
{% block javascript %}
<!-- <script src ={% static 'core/js/scripts.js' %} defer></script> -->
{% endblock javascript%}
{% block content %}

<header class="header">
    <h1>Public Snippet Feed</h1>
</header>
</br>
</br>
<form action="{% url 'snippet_search' %}" method="GET">
    <input type="text" name="query" />
    <button type="submit">Search snippets</button>
</form>
</br>
</br>
<div class="snippets-box">
    <div>
        <h3><a href="{% url 'add_snippet' pk=user.pk %}">Add New Snippet</a></h3>
    </div>
    <div>
        {% for snippet in snippets reversed %}
        <div class="card">
            <div class="card-content">
                <p class="created_by">
                    <a href="{% url 'user_profile' pk=snippet.created_by.pk %}">{{snippet.created_by}}</a>
                </p>

                <p class="title">
                    {{ snippet.title }}
                </p>
                <p class="subtitle">
                {{ snippet.code }}
                </p>
                <p class="language">
                    {{snippet.language}}
                </p>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                <span>
                    <a href="#">Copy Snippet</a>
                </span>
                </p>
                {% if request.user.pk == snippet.created_by.pk %}
                    <p class="card-footer-item">
                        <span>
                            <a href="{% url 'edit_snippet' pk=snippet.pk %}">Edit Snippet</a>
                        </span>
                    </p>
                {% endif %}
                
            </footer>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}