{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
  <header class="header">
    <h1>{{user.username|title}}'s Profile</h1>
  </header>
{% endif %}
<div class="profile">
  Bio: {{ profile.bio }}
  <div class="profile-pic">
      <img src="{{ profile.profile_image.url }}" alt="Profile pic" width="200">
      <br>
      {% if request.user.pk == user.pk %}
      <a href="{% url 'edit_profile' pk=user.pk %}">Edit Profile</a>
      {% endif %}
  </div>
</br></br>
</div>
<div class="snippets-box">
  <div>
    <h3><a href="{% url 'add_snippet' pk=user.pk %}">Add New Snippet</a></h3>
  </div>
  {% for snippet in user.snippets.all reversed%}
  <div class="card">
      <div class="card-content">
        <div class="card-content">
          <p class="created_by">
              {{snippet.created_by}}
          </p>

          <p class="title">
              {{ snippet.title }}
          </p>
          <p class="subtitle">
          {{ snippet.code }}
          </p>
          <p class="language">
              {{snippet.language}}
          </p>
      </div>
      <footer class="card-footer">
          <p class="card-footer-item">
          <span>
              <a href="#">Copy Snippet</a>
          </span>
          </p>
          {% if request.user.pk == user.pk %}
              <p class="card-footer-item">
                  <span>
                      <a href="{% url 'edit_snippet' pk=snippet.pk %}">Edit Snippet</a>
                  </span>
              </p>
          {% endif %}
          
      </footer>
  </div>
  {% endfor %}

</div>

{% endblock %}