{% extends "base.html" %}
{% block javascript %}

{% endblock javascript%}
{% block content %}

{% if user.is_authenticated %}
  <header class="header">
    <h1>{{user.username|title}}'s Profile</h1>
  </header>
{% endif %}
<div class="profile">
  Bio: {{ profile.bio }}
  <div class="profile-pic">
      <img src="{{ profile.profile_image.url }}" alt="Profile pic" width="200">
      <br>
      {% if request.user.pk == user.pk %}
      <a href="{% url 'edit_profile' pk=user.pk %}">Edit Profile</a>
      {% endif %}
  </div>
</br></br>
</div>
<form action="{% url 'profile_search' pk=user.pk %}" method="GET">
  <input type="text" name="query" />
  <button class="button" type="submit">Search snippets</button>
</form>
<div class="snippets-box">
  <div>
    <h3><a href="{% url 'add_snippet' pk=user.pk %}">Add New Snippet</a></h3>
  </div>
  {% for snippet in user.snippets.all reversed %}
  <div class="card">
      <div class="card-content">
        <div class="card-content">
          <p class="created_by">
              {{snippet.created_by}}
          </p>

          <p class="title">
              {{ snippet.title }}
          </p>
          <p class="">
            <pre><code>{{ snippet.code }}</code></pre>
          </p>
          <p class="language">
              {{snippet.language}}
          </p>
      </div>
      <footer class="card-footer">
        {% if request.user.pk != snippet.created_by.pk %}
        <p class="card-footer-item">
          <button id="{{snippet.pk}}" class="copy_button button btn" data-clipboard-action="copy" data-id="{{ snippet.pk }}">Copy Snippet</button>
        </p>
        {% endif %}
        {% if request.user.pk == snippet.created_by.pk %}
            <p class="card-footer-item">
                <span>
                    <a href="{% url 'edit_snippet' pk=snippet.pk %}">Edit Snippet</a>
                </span>
            </p>
        {% endif %}
        
    </footer>
  </div>
  {% endfor %}

</div>

{% endblock %}