.navbar {
    padding: 0.4em;
    background-color: #6E4067;
    color: #ffffff; 
} 

.navbar a {
    color: #ffffff;
}

.navbar a:hover {
    color: #4C62C8;
}

.navbar p {
    color: #ffffff;
}

.navbar-item {
    margin: 0.3em;
    font-size: 1.1em;
}

a.button.is-dark {
    background-color: #ff570a;
}

a.button.is-light {
    color: #4C62C8
}

.header h1 {
    color: #4C62C8;
}

.header {
    margin: 2em;
}

.snippets-box{
    margin: 2em;
    
}

/* .snippets-card {
    
} */

.form {
    margin: 20px;
    padding: 3em;
}

.profile-header {
    display: flex;
    margin: 2em;
    flex-grow: 1;
    padding: 2em;

}

.bio {
    flex-grow: 3;
}

.profile-pic {
    align-self: flex-end;
}

.edit-profile {
    align-self: flex-end;
}

.profile-search {
    margin: 2em;
}

.button.search-button {
    background-color: #ff570a;
    color: #ffffff
}

.card.snippets-card {
    border-width: 1px;
    border-color: #ff570a;
}

.navbar-menu.is-active {
    background-color: #6E4067;
}

.button.is-success {
    background-color: #ff570a;
}