body {
    
}


.navbar {
    padding: 0.4em;
} 

.navbar-item {
    margin: 0.3em;
}

.header {
    margin: 2em;
}

.snippets-box{
    display: flex;
    margin: 2em;
    
}

/* .snippets-card {
    
} */

.form {
    margin: 20px;
    padding: 3em;
}

.profile-header {
    display: flex;
    margin: 2em;
    flex-grow: 1;
    padding: 2em;

}

.bio {
    flex-grow: 3;
}

.profile-pic {
    align-self: flex-end;
}

.edit-profile {
    align-self: flex-end;
}

.profile-search {
    margin: 2em;
}